#video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)