.popup {
    padding: 2.5rem;
	background: rgba(0,0,0,.6);
    &__body {
        width: 90%;
        max-width: 1200px !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    &__close {
        color: $primary;
        svg {
            width: 20px;
        }
        &:hover {
            color: link-hover($primary);
        }
    }
    &__title {}
    &__subtitle {}
}